*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/usageTracker.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project specific
git_ssh
git_ssh.pub
.kotlin/
